@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Bungee&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Geist:wght@100..900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Manrope:wght@200..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #E6533C;
}



/* Header related styles */

.hamburger {
    display: none;
    color: white;
    font-size: 20px;
}

header {
    background-color: #111111;

}

.navbar {
    max-width: 74%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}

.logo h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--primary-color);
    font-style: italic;
}

.menu-items {
    display: flex;
    margin-left: 4;
    gap: 47px;
    padding: 4px;



}


.menu-items li {
    list-style-type: none;
}

.menu-items a {
    text-decoration: none;
    font-size: 18px;
    color: white;

}

.home {
    background-color: var(--primary-color);
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 50px;
}


/* Banner related styles */

.banner-container {
    max-width: 74%;
    /* border: 1px solid white; */
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.banner-container .banner-content {
    max-width: 520px;
}

.banner-content h2 {
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 28px;
}

.banner-content p {
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.buttons {
    display: flex;
    gap: 14px;
}

.hr {
    display: none;
}

.buttons>button {
    background-color: var(--primary-color);
    padding: 16px 45px;
    color: white;
    border: none;
    border-radius: 50px;
}

#button2nd {
    border: 1px solid white;
    background-color: black;
}


.banner-container .banner-image {

    max-width: 536px;
    position: relative;
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: center;
}

.banner-container .banner-content img {
    width: 100%;
    vertical-align: middle;
}

.tooltip {
    position: absolute;
    max-width: 193px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    z-index: 10;
    padding: 17px 24px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    top: 130px;
    right: 10px;
}

.tooltip h2 {
    font-size: 40px;
}



.tooltip2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 193px;
    border: 1px solid rgba(128, 128, 128, 0.233);
    z-index: 10;
    padding: 20px;
    padding: 17px 24px;
    gap: 10px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    top: 125px;
    left: 00px;
    top: 70%;
}



.tooltip2 h2 {
    font-size: 24px;
}


.ball {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;

}

.tooltip p,
.tooltip2 p {
    font-size: 13px;
    color: rgba(239, 237, 232, 0.65);
}


/* Training and Exercise styles */

main {
    background-color: black;
}

.exercise-section {
    max-width: 74%;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-top: 100px;
    margin-bottom: 88px;
}

.exercise-heading {
    margin-bottom: 58px;
    max-width: 671px;
}

.exercise-heading>h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;
    color: white;

}

.exercise-heading>p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.exercise-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    mix-blend-mode: multiply;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.box-1,
.box-3,
.box-5,
.box-6 {
    grid-column: span 1;
    grid-row: span 1;
}

.box-2,
.box-4 {
    grid-column: span 2;
    grid-row: span 1;
}


/* Text Front process */

.exercise-container>div {
    position: relative;
}

.exercise-container>div>p {
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5%;
}

/* ----------------------- */

/* Habits section */

.habits-section {
    max-width: 74%;
    /* border: 1px solid white; */
    margin: 0 auto;
    color: white;
    padding-top: 100px;
}

.habits-heading {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.habits-heading>h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 14px;
    color: white;

}

.habits-heading>p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
}

.habits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    /* border: 1px solid white; */

}

.habit {
    /* border: 1px solid white; */
    max-width: 232px;
    text-align: center;
    margin: 0 auto;

}

.img-div {
    max-width: 180px;
    max-height: 180px;
    /* border-radius: 50%; */
    /* background-color: aqua; */
    margin: 0 auto;
    margin-bottom: 30px;
}

.img-div>img {
    width: 100%;
    border-radius: 50%;
}

.habit>h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.habit>p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}


/* Run section */

.run-section {
    max-width: 74%;
    /* border: 1px solid white; */
    margin: 0 auto;
    color: white;
    margin-top: 100px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}


.run-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 30px;
    margin: 0 auto;
    /* border: 1px solid white; */
}

.run-content {
    max-width: 453px;
}


.run-image {
    max-width: 366px;
    height: auto;
}

.run-image>img {
    width: 100%;
    border-radius: 18px;
}

.run-content>h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 14px;
    color: white;

}

.run-content>p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    margin-bottom: 19px;
}

.run-content>button {
    background-color: var(--primary-color);
    padding: 16px 50px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 50px;
}

.img2 {
    display: none;
}